@use "../../scss/" as *;

.movie-card_container {
    .movie-card {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $border-radius;
        margin-bottom: 1rem;
        height: $card-height;
        transition: transform 1s ease;

        @include mobile {
            height: $mobile-card-height;
            margin-bottom: 0.5rem;
        }

        .bookmark{
            position: absolute;
            animation: none;
            left: $border-radius;

            .loading{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .btn {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: transparent;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: $black;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: $border-radius;
        }

        &:hover::before {
            opacity: 0.8;
        }

        &:hover .btn {
            transform: translate(-50%, -50%) scale(1);
            align-items: center;
        }
    }

    .title {
        h3 {
            width: 100%;
            padding: 0 5px;
            font-size: 1.5rem;
            text-align: center;

            @include mobile {
                padding: 0;
            }
        }
    }
}