@use '../../scss/' as *;

.login {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flex(center, unset);

    .form {
        padding: 10px;
        @include flex(center, center);
        flex-direction: column;
        margin-left: 20%;

        .logo {
            @include flex(center, center);
            flex-direction: column;

            img {
                height: 100px;

                @include mobile {
                    height: 70px;
                }
            }

            margin-bottom: 30px;
        }

        .title {
            div:first-child {
                font-size: 36px;
                font-weight: bolder;

                @include mobile {
                    font-size: 24px;
                }
            }

            div:nth-child(2) {
                text-align: center;
            }

            margin-bottom: 30px;
        }

        input {
            border: 0;
            margin-bottom: 30px;
            height: 70px;
            width: 80%;
            padding: 10px;
            font-size: 32px;
            color: white;
            border-bottom: 1px solid white;
            background: transparent;

            @include mobile {
                height: 40px;
                padding: 5px;
                font-size: 20px;
                width: 60%;
            }
        }

        .err {
            width: 80%;
            padding: 10px;
            color: red;
        }



        .forgot {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .loginBtn {
            margin: 20px;
            background-color: red;
            border: 0;
            border-radius: 10px;
            height: 50px;
            width: 80%;
            color: white;
            font-size: 36px;
            transition: background-color 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: rgba(red, 0.7);
            }

            @include mobile {
                font-size: 24px;
                width: 60%;
            }

            &>* {
                justify-content: center;
            }
        }

        .signup {
            cursor: pointer;
        }

        @include mobile {
            width: 100%;
            margin: 0;
        }

    }

    .background {
        @include mobile {
            display: none;
        }

        position: relative;
        width: 40%;
        margin-left: auto;
        height: 100vh;

        img {
            position: absolute;
            height: 100%;
            right: 0;
            mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 1), (rgba(0, 0, 0, 0.02)));
        }
    }
}