@use '../../scss/' as *;

.comments {
    @include flex(unset, unset);
    flex-direction: column;

    &__input {
        background-color: rgba($color: gray, $alpha: 0.1);
        border: 2px solid rgba($color: rgb(90, 90, 90), $alpha: 0.1);
        padding: 5px 20px;
        width: 100%;
        height: 5rem;
        border-radius: 10px;
        box-sizing: border-box;
        @include flex(center, space-between);

        img{
            width: 2.5rem;
            height: 2.5rem;
            vertical-align: middle;
            border-radius: 5px;
        }

        input {
            font-size: 1rem;
            margin: 0 0.5rem;
            color: white;
            background-color: rgba($color: gray, $alpha: 0.2);
            border: 0;
            width: 80%;
            height: 2.5rem;
            padding: 5px 20px;
            border-radius: 15px;
        }

        button {
            font-size: 1rem;
            font-weight: 700;
            color: white;
            border: 2px solid white;
            background-color: transparent;
            height: 2.5rem;
            box-sizing: border-box;
            padding: 5px 20px;
            border-radius: $border-radius;
            box-shadow: 0 0 5px 2px rgba($color: white, $alpha: 0.2);

            &:hover {
                background-color: rgba($color: white, $alpha: 0.1);
                box-shadow: 0 0 5px 2px rgba($color: white, $alpha: 0.6);
            }

            &:active {
                background-color: rgba($color: white, $alpha: 0.4);
            }
        }

        b {
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.6;
            }
        }
    }
}