@use "../../scss/" as *;

.movie-list {
    user-select: none;

    @include flex(center, space-between);

    .swiper-slide {
        width: 15%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
}