@use "./scss/" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: rgb(255, 255, 255);
  box-shadow: 0 0 0px 1000px #0f0f0f inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba($color: gray, $alpha: 0.2);
}

::-webkit-scrollbar-thumb {
  background: #888;
  
}

::-webkit-scrollbar-thumb:hover {
  
  background: #555;
}

html {
  font-size: 100%;

  @include tablet {
    font-size: 80%;
  }

  @include mobile {
    font-size: 60%;
  }
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;

  background-color: $body-bg;
  color: $txt-color;

  @include mobile {
    margin-bottom: 3rem;
  }
}

a {
  text-decoration: none;
  color: unset;
  transition: color 0.3s ease;
}

@media (hover: hover) {
  a:hover {
    color: $main-color;
  }
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}

.container {
  max-width: 1660px;
  margin: auto;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.section {
  padding: 0 2rem;
}

.section__header {
  @include flex(center, space-between);
}