@use "../../scss/" as *;

.movie-frame {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    @include flex(center, center);

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        position: absolute;
        width: 50%;
        background-color: rgba($black, 1);
        border-radius: $border-radius;
        box-shadow: 0 0 8px 6px rgba($color: white, $alpha: 0.1);
        transform: translateY(-450px);
        overflow: hidden;
        transition: transform 0.6s ease;

        @include tablet {
            width: 80%;
        }

        &__closeBtn {
            position: relative;
            text-align: center;
            padding: 5px 15px;
            @include flex(center, right);

            div {
                font-weight: 700;
                height: 1.8rem;
                width: 1.8rem;
                position: relative;
                border: 2px solid white;
                border-radius: 5px;
                box-shadow: 0 0 3px 1px rgba($color: white, $alpha: 0.4);
                user-select: none;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }
            }
        }
    }

    &.active &__content {
        transform: translateY(0);
    }
}