@use "../../scss/" as *;

.footer {
    background-color: red;
    height: $footer-height;
    position: absolute;
    width: 100%;
    bottom: 0;

    @include mobile {
        display: none;
    }

    padding: 5px 15px;
    @include flex(center, space-between);

    .foot-logo {
        @include flex(center, center);
        flex-direction: column;

        img {
            max-height: 50px;
        }

        cursor: pointer;
    }

    .github-source {
        max-height: 100%;

        img {
            max-height: 50px;
        }
    }
}